.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid blue ;
    border-top: 20px solid black;
    animation: animations 2s ease-in 0s infinite normal ;
    
}

@keyframes animations{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }

}