body{
    text-align: center;
}


#container{
    height: 200px;
    width: 500px;
    border: 2px solid black;
    display: flex;
   justify-content: center;
  align-content: center;
    align-items: flex-start;

}


div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
    flex-direction: row;
    flex-shrink: 1;
    
    align-items: flex-start;
    justify-items: auto;
    
    
}

#box1{
    background-color: rgba(255,0,0,0.5);

}

#box2{
    background: rgba(0,255,0,0.5);
    height: 200px;
    flex-shrink: 2;
}

#box3{
    background: rgba(0,0,255,0.5);
    height: 75px;
}

#box4{
    background-color: rgba(255,255,0, 0.5);
}
#box5{
    background-color: rgba(255,200,0, 0.5);
}